In [1]:
#importing the libraries
import numpy as np
import pandas as pd
import nltk

In [2]:
#removing useless words like articles, prepositions, pronouns etc is needed before we feed the text to our model
#this will make only useful data to be fed to the model
#stopword=>inbuilt function to remove unneccessary words
from nltk.corpus import stopwords

#slicing from 0 to 100 and iteration by 5 
stopwords.words("english")[0:100:5]

['i',
 'our',
 "you've",
 'yourself',
 'himself',
 'herself',
 'they',
 'what',
 'that',
 'is',
 'been',
 'having',
 'a',
 'if',
 'while',
 'with',
 'through',
 'below',
 'in',
 'under']

In [3]:
#loading the dataset
df=open("SMS Spam Filter.tsv").read()

In [4]:
#view the raw unprocessed data
df[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [5]:
df_new=df.replace('\t','\n').split('\n')
df_new[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [6]:
#even index contains labels/target
#starting from 0th index and iterating by 2 
x=df_new[0::2]
x[0:5]

['ham', 'spam', 'ham', 'ham', 'ham']

In [16]:
#odd index contains sentence/feature
#starting from 1st and iterating by 2
y=df_new[1::2]
y[0:5]

["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 "Nah I don't think he goes to usf, he lives around here though",
 'Even my brother is not like to speak with me. They treat me like aids patent.',
 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [17]:
#length of both x and y should be same before we convert them to a final dataframe
print(len(x))
print(len(y))

5571
5570

In [19]:
#printing the last 5 index of x to verify
#the last index is found to be empty 
x[-5:]

['ham', 'ham', 'ham', 'ham', '']

In [20]:
#since the last index is empty and also creating problem so dataframe is created excluding the last index
df_final=pd.DataFrame({"Label":x[:-1],"Text":y})
df_final.head()

  Label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [30]:
#alternative step to directly convert the tsv file to dataframe
#sep->the separater used in the file
df_final_alt=pd.read_csv("SMS Spam Filter.tsv",sep="\t",header=None)
df_final_alt.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [32]:
#1st way to rename the column name
df_final_alt.columns=["Label","Text"]
df_final_alt.head()

  Label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [29]:
#2nd way to rename the column name
df_final_alt.rename(columns={0:"Label",1:"Text"},inplace=True)
df_final_alt.head()

  Label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!